<div class="row pt-2">
  <div class="align-items-end d-flex flex-wrap pb-1" style="border-right: 1px solid #1e1c1cd1;">
    <img src="../../../../assets/images/Chat_Icon.svg" height="25" width="20" class="mr-4"/>
    <img src="../../../../assets/images/Notification.svg" height="30" width="25" class="mr-3"/>
  </div>
  <span class="user-profile">
    <ng-container>
      <a class="nav-link dropdown-toggle user-profile" href="#" id="navbardrop" data-toggle="dropdown">
        John Doe
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </ng-container>
    <img class="profile-img" src="../../../../assets/images/avatar.jpeg"/>
  </span>
</div>
