/* You can add global styles to this file, and also import other style files */
@import './assets/scss/appShared';
@import './assets/scss/base/ngSelectOverrides';

.required, .error-message {
  color: $required;
}

.is-invalid {
  border-color: $required !important;
  background-image: none !important;
}

// input form overrides
.form-control {
  border-radius: 0px !important;
}


.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.flex-align-center {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.w-250px {
  width: 250px;
}
